[Desktop Entry]
Type=Service
Icon=gpick
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=colour;
Encoding=UTF-8
MimeType=image/*

[Desktop Action colour]
Name=Colority - Interactive Tool to Colour
Icon=gpick
Exec=~/.local/share/kservices5/ServiceMenus/colority.sh %f
